<div
  class="custom-liquid-block{% if block.settings.background_media == 'image' %} custom-liquid-block--has-media{% endif %}"
  {{ block.shopify_attributes }}
>
  <div class="custom-liquid-block__media">
    {% render 'background-media',
      background_media: block.settings.background_media,
      background_image: block.settings.background_image,
      background_image_position: block.settings.background_image_position,
      block: block,
      section: section
    %}
  </div>
  {% if block.settings.logo_image != blank %}
    <div
      class="custom-liquid-logo custom-liquid-logo--align-{{ block.settings.logo_image_alignment }}"
      style="
        --custom-liquid-logo-max-width: {{ block.settings.logo_image_width }}%;
        --custom-liquid-logo-max-width-mobile: {% if block.settings.logo_image_custom_mobile_width %}{{ block.settings.logo_image_width_mobile }}{% else %}{{ block.settings.logo_image_width }}{% endif %}%;
      "
    >
      {{
        block.settings.logo_image
        | image_url: width: 1200
        | image_tag:
          loading: 'lazy',
          class: 'custom-liquid-logo__img',
          widths: '240, 352, 480, 720, 960, 1200',
          sizes: '(min-width: 750px) min(720px, 100vw), 100vw',
          alt: block.settings.logo_image.alt | default: shop.name | escape
      }}
    </div>
  {% endif %}
  <div class="custom-liquid-block__inner">
    {{ block.settings.custom_liquid }}
  </div>
</div>

{% stylesheet %}
  .custom-liquid-block {
    position: relative;
  }

  .custom-liquid-block--has-media {
    overflow: hidden;
  }

  .custom-liquid-block__inner {
    position: relative;
    z-index: var(--layer-flat);
  }

  .custom-liquid-logo {
    margin-top: 3rem;
    display: flex;
    width: 100%;
    margin-block-end: var(--gap-md, 1rem);
    position: relative;
    z-index: var(--layer-flat);
  }

  .custom-liquid-logo--align-left {
    justify-content: flex-start;
  }

  .custom-liquid-logo--align-center {
    justify-content: center;
  }

  .custom-liquid-logo--align-right {
    justify-content: flex-end;
  }

  .custom-liquid-logo__img {
    width: auto;
    height: auto;
    max-width: min(var(--custom-liquid-logo-max-width-mobile, 100%), 100%);
    object-fit: contain;
  }

  @media screen and (min-width: 750px) {
    .custom-liquid-logo__img {
      max-width: min(var(--custom-liquid-logo-max-width, 100%), 100%);
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.custom_liquid",
  "tag": null,
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:settings.custom_liquid",
      "info": "t:info.custom_liquid"
    },
    {
      "type": "header",
      "content": "t:content.background"
    },
    {
      "type": "select",
      "id": "background_media",
      "label": "t:settings.background_media",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "image",
          "label": "t:options.image"
        }
      ],
      "default": "none"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:settings.image",
      "visible_if": "{{ block.settings.background_media == 'image' }}"
    },
    {
      "type": "select",
      "id": "background_image_position",
      "label": "t:settings.image_position",
      "options": [
        {
          "value": "cover",
          "label": "t:options.cover"
        },
        {
          "value": "fit",
          "label": "t:options.fit"
        }
      ],
      "default": "cover",
      "visible_if": "{{ block.settings.background_media == 'image' }}"
    },
    {
      "type": "header",
      "content": "t:content.logo"
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "t:settings.logo"
    },
    {
      "type": "range",
      "id": "logo_image_width",
      "label": "t:settings.width",
      "min": 5,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100 
    },
    {
      "type": "checkbox",
      "id": "logo_image_custom_mobile_width",
      "label": "t:settings.custom_mobile_width",
      "default": false
    },
    {
      "type": "range",
      "id": "logo_image_width_mobile",
      "label": "t:settings.width_mobile",
      "min": 2,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ section.settings.logo_image_custom_mobile_width }}"
    },
    {
      "type": "select",
      "id": "logo_image_alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "right",
          "label": "t:options.right"
        }
      ],
      "default": "center"
    }
  ],
  "presets": [
    {
      "name": "t:names.custom_liquid",
      "category": "t:categories.custom"
    }
  ]
}
{% endschema %}
