{% liquid
  assign block_settings = block.settings
  assign text_before = block_settings.text_before | strip
  assign text_after = block_settings.text_after | strip
%}
<div
  class="
    footer-utilities__group-copyright
    custom-typography
    {% if block_settings.font_size != "" %}custom-font-size{% endif %}
  "
  style="{% render 'typography-style', preset: 'custom', settings: block_settings %}"
  {{ block.shopify_attributes }}
>
  {%- if text_before != blank -%}
    <span class="footer-utilities__text">{{ text_before | escape }}</span>
  {%- endif -%}
  <span class="footer-utilities__text">
    {%- if block_settings.show_copyright_line -%}
      &copy; {{ 'now' | date: '%Y' }}
      {{ shop.name | link_to: routes.root_url -}}
    {%- endif -%}
    {%- if block_settings.show_copyright_line and block_settings.show_powered_by -%}
      , {{ powered_by_link }}
    {%- elsif block_settings.show_powered_by -%}
      {{ powered_by_link }}
    {%- endif -%}
  </span>
  {%- if text_after != blank -%}
    <span class="footer-utilities__text">{{ text_after | escape }}</span>
  {%- endif -%}
</div>

{% stylesheet %}
  .footer-utilities__group-copyright {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 0.25em 0.5em;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.copyright",
  "tag": null,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_copyright_line",
      "label": "t:settings.show_copyright_line",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_powered_by",
      "label": "t:settings.show_powered_by_shopify",
      "default": true
    },
    {
      "type": "paragraph",
      "content": "t:content.manage_store_name",
      "visible_if": "{{ block.settings.show_copyright_line }}"
    },
    {
      "type": "header",
      "content": "t:content.copyright_additional_text"
    },
    {
      "type": "text",
      "id": "text_before",
      "label": "t:settings.copyright_text_before"
    },
    {
      "type": "text",
      "id": "text_after",
      "label": "t:settings.copyright_text_after"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "t:settings.size",
      "options": [
        {
          "value": "0.625rem",
          "label": "10px"
        },
        {
          "value": "0.75rem",
          "label": "12px"
        },
        {
          "value": "0.875rem",
          "label": "14px"
        },
        {
          "value": "1rem",
          "label": "16px"
        },
        {
          "value": "1.125rem",
          "label": "18px"
        }
      ],
      "default": "0.75rem"
    },
    {
      "type": "select",
      "id": "case",
      "label": "t:settings.case",
      "options": [
        {
          "value": "none",
          "label": "t:options.default"
        },
        {
          "value": "uppercase",
          "label": "t:options.uppercase"
        }
      ],
      "default": "none"
    }
  ],
  "presets": [
    {
      "name": "t:names.copyright",
      "category": "t:categories.footer"
    }
  ]
}
{% endschema %}
