

{% liquid
  assign block_settings = block.settings
  assign menu = block_settings.menu
  assign heading = block_settings.heading
  assign color_scheme = block_settings.color_scheme
  assign show_as_accordion = block_settings.show_as_accordion
  assign show_menu_heading_on_mobile = block_settings.show_menu_heading_on_mobile
  if show_as_accordion == true
    assign show_menu_heading_on_mobile = true
  endif
  assign menu_heading_class = 'menu__heading'
  if heading == blank and menu.title == blank
    assign menu_heading_class = menu_heading_class | append: ' menu__heading--empty'
  endif
  assign menu_heading_class = menu_heading_class | append: ' ' | append: block_settings.heading_preset
  if block_settings.show_menu_heading_on_desktop == false
    assign menu_heading_class = menu_heading_class | append: ' hidden--desktop'
  endif
  if show_menu_heading_on_mobile == false
    assign menu_heading_class = menu_heading_class | append: ' hidden--mobile'
  endif
  if show_as_accordion == true and block_settings.accordion_dividers == true
    assign dividers_enabled = true
  endif
  assign menu_details_class = 'menu__details'
  if block_settings.show_menu_heading_on_desktop == false
    assign menu_details_class = menu_details_class | append: ' menu__details--hide-heading-desktop'
  endif
  if show_menu_heading_on_mobile == false
    assign menu_details_class = menu_details_class | append: ' menu__details--hide-heading-mobile'
  endif
  assign menu_details_desktop_align = block_settings.menu_details_alignment_desktop | default: 'start'
  assign menu_details_class = menu_details_class | append: ' menu__details--desktop-align-' | append: menu_details_desktop_align
  assign menu_element_width_behavior_mobile = block_settings.menu_element_width_behavior_mobile | default: 'fill'
  assign menu_element_width_behavior_desktop = block_settings.menu_element_width_behavior_desktop | default: 'fill'
  assign menu_element_custom_width_mobile = block_settings.menu_element_custom_width_mobile | default: 100
  assign menu_element_custom_width_desktop = block_settings.menu_element_custom_width_desktop | default: 100
  assign menu_list_class = 'list-unstyled menu__list'
  if block_settings.menu_direction == 'horizontal'
    assign menu_list_class = menu_list_class | append: ' menu__list--horizontal'
  endif
%}

{% if menu != blank or heading != blank %}
  <div
    class="menu-width-wrap menu-width-wrap--mobile-{{ menu_element_width_behavior_mobile }} menu-width-wrap--desktop-{{ menu_element_width_behavior_desktop }}"
    style="--menu-element-custom-mobile: {{ menu_element_custom_width_mobile }}%; --menu-element-custom-desktop: {{ menu_element_custom_width_desktop }}%;"
  >
  {%- liquid
    assign menu_class = 'menu'
    if show_as_accordion == true
      assign menu_class = menu_class | append: ' menu--accordion'
    endif
    if dividers_enabled == true
      assign menu_class = menu_class | append: ' menu--dividers'
    endif
    assign menu_class = menu_class | append: ' menu--width-mobile-' | append: menu_element_width_behavior_mobile
    assign menu_class = menu_class | append: ' menu--width-desktop-' | append: menu_element_width_behavior_desktop
    assign should_disable_on_mobile = false
    assign should_open_by_default_on_mobile = false
    if show_as_accordion == false
      assign should_disable_on_mobile = true
      assign should_open_by_default_on_mobile = true
    endif
  -%}
  {% capture menu_accordion_children %}
    <details
      class="
        {{ menu_details_class }}
        spacing-style
        {% if block_settings.inherit_color_scheme == false %} color-{{ color_scheme }}{% endif %}
      "
      data-testid="menu-details"
      style="
        --spacing--size: {{ block_settings.menu_spacing }}px;
        --spacing--size-desktop: {{ block_settings.menu_spacing_desktop }}px;
        {% render 'spacing-style', settings: block_settings %}
      "
      {% if show_as_accordion == false %}
        open
      {% endif %}
      {{ block.shopify_attributes }}
    >
      <summary class="{{ menu_heading_class }}">
        <span class="menu__heading__default">{{ heading | default: menu.title }}</span>
        <span class="menu__heading__accordion">
          {{ heading | default: menu.title }}
          {% if block_settings.accordion_icon == 'plus' %}
            <span class="menu__heading__toggle svg-wrapper icon-plus">
              {{- 'icon-plus.svg' | inline_asset_content -}}
            </span>
          {% else %}
            <span class="menu__heading__toggle svg-wrapper icon-caret icon-animated">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          {% endif %}
        </span>
      </summary>

      <nav
        class="details-content"
        {% if heading == blank %}
          aria-label="{{ menu.title | escape }}"
        {% endif %}
      >
        {% if menu %}
          <ul class="{{ menu_list_class }}">
            {% for link in menu.links %}
              <li class="menu__item {{ block_settings.link_preset }}">
                <a href="{{ link.url }}">
                  {{ link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </nav>
    </details>
  {% endcapture %}
  {% render 'accordion-custom-component',
    children: menu_accordion_children,
    class: menu_class,
    disable_on_desktop: true,
    open_by_default_on_desktop: true,
    disable_on_mobile: should_disable_on_mobile,
    open_by_default_on_mobile: should_open_by_default_on_mobile
  %}
  </div>
{% endif %}

{% stylesheet %}
  .menu-width-wrap {
    max-width: 100%;
  }

  .menu-width-wrap--mobile-fill {
    width: 100%;
  }

  .menu-width-wrap--mobile-fit {
    width: fit-content;
    max-width: 100%;
  }

  .menu-width-wrap--mobile-custom {
    width: var(--menu-element-custom-mobile, 100%);
    max-width: 100%;
  }

  .menu.menu--width-mobile-fill {
    width: 100%;
  }

  .menu.menu--width-mobile-fit {
    width: fit-content;
    max-width: 100%;
  }

  .menu.menu--width-mobile-custom {
    width: var(--menu-element-custom-mobile, 100%);
    max-width: 100%;
  }

  @media screen and (min-width: 750px) {
    .menu.menu--width-desktop-fill {
      width: 100%;
    }

    .menu.menu--width-desktop-fit {
      width: fit-content;
      max-width: 100%;
    }

    .menu.menu--width-desktop-custom {
      width: var(--menu-element-custom-desktop, 100%);
      max-width: 100%;
    }

    .menu-width-wrap--desktop-fill {
      width: 100%;
    }

    .menu-width-wrap--desktop-fit {
      width: fit-content;
      max-width: 100%;
    }

    .menu-width-wrap--desktop-custom {
      width: var(--menu-element-custom-desktop, 100%);
      max-width: 100%;
    }
    .menu .menu__details.spacing-style {
      --spacing--size: var(--spacing--size-desktop);
    }

    .menu__details--hide-heading-desktop.spacing-style {
      padding-block-start: 0;
    }

    .menu .menu__details--desktop-align-start,
    .menu .menu__details--desktop-align-center,
    .menu .menu__details--desktop-align-end {
      display: flex;
      flex-wrap: wrap;
    }

    .menu .menu__details--desktop-align-start {
      justify-content: flex-start;
    }

    .menu .menu__details--desktop-align-center {
      justify-content: center;
    }

    .menu .menu__details--desktop-align-end {
      justify-content: flex-end;
    }
  }

  @media screen and (max-width: 749px) {
    .menu__details--hide-heading-mobile.spacing-style {
      padding-block-start: 0;
    }
  }

  .menu:not(:has(.menu__heading--empty)) .details-content {
    margin-block-start: var(--spacing--size);
  }

  .menu__list--horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    column-gap: var(--spacing--size);
    row-gap: var(--spacing--size);
  }

  .menu__item + .menu__item {
    margin-block-start: var(--spacing--size);
  }

  .menu__list--horizontal .menu__item + .menu__item {
    margin-block-start: 0;
  }

  .menu .menu__heading--empty {
    display: none;
  }

  .menu__heading__default {
    display: contents;
  }

  .menu__heading__accordion {
    display: none;
  }

  @media screen and (max-width: 749px) {
    /* Always show the fallback heading on mobile when accordion is enabled */
    .menu--accordion .menu__heading--empty {
      display: flex;
    }

    .menu--accordion .menu__heading__accordion {
      display: contents;
    }

    .menu--accordion .menu__heading__default {
      display: none;
    }

    .menu--accordion .details-content {
      margin-block-start: var(--spacing--size);
    }

    .menu--accordion .menu__details {
      padding-inline: 0;
    }

    .menu--dividers .menu__details {
      border-block-end: var(--style-border-width) solid var(--color-border);
    }

    .menu--dividers .details-content {
      padding-block-end: var(--padding-sm);
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.menu",
  "tag": null,
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:settings.menu",
      "default": "main-menu"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:settings.heading"
    },
    {
      "type": "header",
      "content": "t:content.heading_visibility"
    },
    {
      "type": "checkbox",
      "id": "show_menu_heading_on_desktop",
      "label": "t:settings.show_menu_heading_on_desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_menu_heading_on_mobile",
      "label": "t:settings.show_menu_heading_on_mobile",
      "default": true,
      "visible_if": "{{ block.settings.show_as_accordion == false }}"
    },
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "menu_direction",
      "label": "t:settings.direction",
      "options": [
        {
          "value": "vertical",
          "label": "t:options.vertical"
        },
        {
          "value": "horizontal",
          "label": "t:options.horizontal"
        }
      ],
      "default": "vertical"
    },
    {
      "type": "header",
      "content": "t:content.menu_block_width"
    },
    {
      "type": "select",
      "id": "menu_element_width_behavior_desktop",
      "label": "t:settings.width_desktop",
      "options": [
        {
          "value": "fit",
          "label": "t:options.fit"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fill"
    },
    {
      "type": "range",
      "id": "menu_element_custom_width_desktop",
      "label": "t:settings.custom_width",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.menu_element_width_behavior_desktop == 'custom' }}"
    },
    {
      "type": "select",
      "id": "menu_element_width_behavior_mobile",
      "label": "t:settings.width_mobile",
      "options": [
        {
          "value": "fit",
          "label": "t:options.fit"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fill"
    },
    {
      "type": "range",
      "id": "menu_element_custom_width_mobile",
      "label": "t:settings.custom_width",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.menu_element_width_behavior_mobile == 'custom' }}"
    },
    {
      "type": "header",
      "content": "t:content.desktop_alignment"
    },
    {
      "type": "select",
      "id": "menu_details_alignment_desktop",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "start",
          "label": "t:options.start"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "end",
          "label": "t:options.end"
        }
      ],
      "default": "start"
    },
    {
      "type": "header",
      "content": "t:content.desktop_size"
    },
    {
      "type": "range",
      "id": "menu_spacing_desktop",
      "label": "t:settings.vertical_gap_desktop",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "range",
      "id": "menu_spacing",
      "label": "t:settings.vertical_gap",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "checkbox",
      "id": "show_as_accordion",
      "label": "t:settings.show_as_accordion",
      "default": false
    },
    {
      "type": "select",
      "id": "accordion_icon",
      "label": "t:settings.icon",
      "options": [
        {
          "value": "caret",
          "label": "t:options.caret"
        },
        {
          "value": "plus",
          "label": "t:options.plus"
        }
      ],
      "default": "caret",
      "visible_if": "{{ block.settings.show_as_accordion == true }}"
    },
    {
      "type": "checkbox",
      "id": "accordion_dividers",
      "label": "t:settings.dividers",
      "default": false,
      "visible_if": "{{ block.settings.show_as_accordion == true }}"
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:settings.inherit_color_scheme",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "header",
      "content": "t:content.typography"
    },
    {
      "type": "select",
      "id": "heading_preset",
      "label": "t:settings.heading_preset",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "paragraph",
          "label": "t:options.paragraph"
        },
        {
          "value": "h1",
          "label": "t:options.h1"
        },
        {
          "value": "h2",
          "label": "t:options.h2"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        }
      ],
      "default": "h3"
    },
    {
      "type": "select",
      "id": "link_preset",
      "label": "t:settings.link_preset",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "paragraph",
          "label": "t:options.paragraph"
        },
        {
          "value": "h1",
          "label": "t:options.h1"
        },
        {
          "value": "h2",
          "label": "t:options.h2"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        }
      ],
      "default": "paragraph"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.menu",
      "category": "t:categories.links"
    }
  ]
}
{% endschema %}
